<a href="https://colab.research.google.com/github/mithunahmedpranta502/Artificial-Intelligence-Lab/blob/main/NoteBook_2_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#***If Statement:***

In [ ]:
grade = 80
if grade>=40:
  print("Passed")

Passed

#***If else Statement:***

In [ ]:
grade = 85
if grade>=60:
  print("Passed")
else:
    print("Failed")

Passed

***Conditional Expression:***

In [ ]:
result = ('Passed' if grade >= 60 else 'Failed')

In [ ]:
print(result)

Passed

#***If...elif...else Statement:***

In [ ]:
grade = 85

if grade >= 90:
  print('A')
elif grade >= 80:
  print('B')
elif grade >= 70:
  print('C')
elif grade >= 60:
  print('D')
else:
  print('F')

B

#***While Statement:***

In [ ]:
number = 1

while (number<16):
  print(number, end=" ") #print in same line with space using end = " "
  number+=1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15

***While Statement To Find The First Power Of 3 Larger Than 50:***

In [ ]:
product = 5

while product <= 50:
  product = product*3

In [ ]:
print(product)

135

#***For Statement:***

In [ ]:
for character in "python":
  print(character, end=" ")

p y t h o n

***Built In Range Function:***

***Let's use a for statement and the built-in range function to iterate precisely 10 times,displying the values from 0 through 9:***

In [ ]:
for counter in range(10):
  print(counter, end=" ")

0 1 2 3 4 5 6 7 8 9

***Use the range function and a for statement to calculate the total of the integers from 0 through 1,000,000.***

In [ ]:
total = 0
for number in range(1000001):
  total = total+number

print(total)

500000500000

***Function range also has two- and three-argument versions. As you’ve seen, range’s one argument version produces a sequence of consecutive integers from 0 up to, but not including, the argument’s value. Function range’s two-argument version produces a sequence of consecutive integers from its first argument’s value up to, but not including, the second argument’s value, as in:***

In [ ]:
for number in range(5,10):
  print(number, end=" ")

5 6 7 8 9

***Function range’s three-argument version produces a sequence of integers from its first argument’s value up to, but not including, the second argument’s value, incrementing by the third argument’s value, which is known as the step:***

In [ ]:
for number in range(0,10,2):
  print(number, end=" ")

0 2 4 6 8

***If the third argument is negative, the sequence progresses from the first argument’s value down to, but not including the second argument’s value, decrementing by the third argument’s value, as in:***

In [ ]:
for number in range(10,0,-2):
  print(number, end=" ")

10 8 6 4 2

***Number table print using range function***


---



---



***Take an input from user and print the number table***

In [ ]:
number = int(input())

8

In [ ]:
for i in range(1,11):
  print(number,"X",i,"=",number*i)

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80

#***Nested For Loop***

In [ ]:
for left in range(7):
    for right in range(left,7):
        print("["+str(left)+"|"+str(right)+"]", end =" ")
    print()

[0|0] [0|1] [0|2] [0|3] [0|4] [0|5] [0|6]
[1|1] [1|2] [1|3] [1|4] [1|5] [1|6]
[2|2] [2|3] [2|4] [2|5] [2|6]
[3|3] [3|4] [3|5] [3|6]
[4|4] [4|5] [4|6]
[5|5] [5|6]
[6|6]

#***Break Statement:***

In [ ]:
for number in range(10):
  if  number==5:
    break
  print(number, end=" ")

0 1 2 3 4

#***Continue Statement:***

In [ ]:
for number in range(10):
  if  number==5:
    continue
  print(number, end=" ")

0 1 2 3 4 6 7 8 9

#***Beginner Problem solving from Uri Online Judge:***

***Extremely Basic:***
***Read 2 variables, named A and B and make the sum of these two variables, assigning its result to the variable X. Print X as shown below. Print endline after the result otherwise you will get “Presentation Error”.***

In [39]:
A = int(input()) 
B = int(input()) 
X = A + B 
print("X = %d\n"%X)

10
7
X = 17

In [40]:
A = int(input()) 
B = int(input()) 
X = A + B 
print("X = %d\n"%X)

-10
4
X = -6

***Area of a Circle:The formula to calculate the area of a circumference is defined as A = π . R2. Considering to this problem that π = 3.14159:***

***Calculate the area using the formula given in the problem description.***

In [41]:
r = float(input())
pi = 3.14159
a = pi * (pow(r,2))
print("A=%.4f"% a)

2.00
A=12.5664

***Difference:Read four integer values named A, B, C and D. Calculate and print the difference of product A and B by the product of C and D (A * B - C * D).***

In [42]:
A= int(input())
B= int(input())
C= int(input())
D= int(input())

difference=((A * B) - (C * D))

print("DIFERENCA = %d" %difference)

5
6
7
8
DIFERENCA = -26

***Age in Days:Read an integer value corresponding to a person's age (in days) and print it in years, months and days, followed by its respective message “ano(s)”, “mes(es)”, “dia(s)”.***

***Note: only to facilitate the calculation, consider the whole year with 365 days and 30 days every month. In the cases of test there will never be a situation that allows 12 months and some days, like 360, 363 or 364. This is just an exercise for the purpose of testing simple mathematical reasoning.***

In [43]:
D = int(input())
Y = int(D/365)
D = int(D%365)
M = int(D/30)
D = D%30
print("%d ano(s)"%Y)
print("%d mes(es)"%M)
print("%d dia(s)"%D)

400
1 ano(s)
1 mes(es)
5 dia(s)